.cust-btn-remove{
	margin-top: 31%;
    margin-left: -5%;
}
.border-error-input{
  border-color: red;
}
.border-error-textarea{
	border: 1px solid #ee0a0a !important;
}

.cust-textarea{
	border: 1px solid #2b3553;
	border-radius :15px !important;
}