<div id="intro">
      <div class="container">
        <div class="row">

          <div class="col-lg-2 col-lg-offset-1">
            <h5>ABOUT</h5>
          </div>
          <div class="col-lg-6">
            <p>{{profiledata && profiledata.aboutme}}</p>
          </div>
          <div class="col-lg-3">
<!--             <p><a href="#"><i class="icon-file"></i></a>
              DOWNLOAD PDF
            </p> -->
          </div>

        </div>
        <!--/.row -->
      </div>
      <!--/.container -->
    </div>