<div class="row">

      <div class="col-lg-2 col-lg-offset-1">
        <h5>WORK</h5>
      </div>

      <div *ngFor="let workexpdata of workexp; let i = index">
        <div class="col-lg-6" [ngClass]="{'col-lg-offset-3' : i != 0}">
          <p>
             <span class="tdesc"> {{workexpdata.designation}}</span><br/><i>{{workexpdata.placename}}</i><br/>
          </p>
          <p>
           {{workexpdata.about}}
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            {{workexpdata.joinyearmonth}} to
           {{workexpdata.leaveyearmonth}}
          </p>
        </div>
      </div>

      
    </div>
    <!--/.row -->
    <br>
    <hr>