<div class="container desc">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
          <h5>PORTFOLIO</h5>
        </div>
        <div class="col-lg-6">
          <p><img class="img-responsive" src="assets/img/port01.jpg" alt=""></p>
        </div>
        <div class="col-lg-3">
          <p>CANALS OF ENGLAND</p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br/><br/>
              <i class="icon-tag"></i> design
            
          </p>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
          <p><img class="img-responsive" src="assets/img/port02.jpg" alt=""></p>
        </div>
        <div class="col-lg-3">
          <p>SANKEY</p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br/><br/>
              <i class="icon-tag"></i> front-end
            
          </p>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
          <p><img class="img-responsive" src="assets/img/port03.jpg" alt=""></p>
        </div>
        <div class="col-lg-3">
          <p>WE GROW</p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br/><br/>
              <i class="icon-tag"></i> web design
           
          </p>
        </div>

      </div>
      <!--/.row -->
      <br>
      <br>
    </div>