<div class=" content">
	<div class=" row">
		<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
		  <div class=" col-md-12">
				<div class=" card">
				    <div class=" card-header"><h5 class=" title">Other 
				    Achievement Profile</h5> </div>
				    <div class=" card-body"><!--  -->
				    	<div class=" col-md-12" *ngFor="let ticket of t.controls; let i = index" >
				    		<div class=" card-header"></div>
				    		<div class=" card-body" [formGroup]="ticket"><!--  -->
				    			<div class=" row">
				    				<div class=" col-md-3 pr-md-1">
					    				<div class=" form-group">
							              <label>Title </label>
							              <input
							              class=" form-control"
							              formControlName="title"
							              	[ngClass]="{ 'border-error-input' : submitted && ticket.controls.title.errors && ticket.controls.title.errors.required }"
							              />
					    				</div>
					    			</div>
					    			<div class=" col-md-5 pr-md-1">
					    				<div class=" form-group">
							              <label>About </label>
											<ckeditor  formControlName="about"></ckeditor>
					    				</div>
					    			</div>
					    			<div class=" col-md-3 pr-md-1">
					    				<div class=" form-group">
							              <label>Year-Month </label>
							              <input
							              class=" form-control"
							              formControlName="yearmonth"
							              	[ngClass]="{ 'border-error-input' : submitted && ticket.controls.yearmonth.errors && ticket.controls.yearmonth.errors.required }"
							              />

					    				</div>
					    			</div>
					    			<div class=" col-md-1 pr-md-1">
					    				<div class=" form-group" >
							            	 <button (click)="removeFormArray(i)" class="btn btn-light cust-btn-remove"><i class="tim-icons icon-simple-remove"></i></button>
					    				</div>
					    			</div>
				    			</div>
				    		</div>
				    	</div>
				    	<div class=" card-footer">
							<button  class=" btn btn-fill btn-success" (click)="addFormArray()">Add  Achievement</button>
					      <button type="submit" class=" btn btn-fill btn-danger" type="submit">Save  Achievement</button>
					    </div>
				    </div>
				</div>
			</div>
		</form>
	</div>
</div>